html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

label {
    font-weight: 500;
}

.help-block {
    font-size: 12px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left !important;
}

.min-w-100 {
    min-width: 100%;
}

.min-vh-100 {
    min-height: 100vh!important;
    height: auto;
}

.v-align-center {
    display: flex;
    align-items: center;
}

.brand-name {
    font-size: 65px;
    margin-bottom: 20px;
    text-align: center;
}

.brand-name > a {
    color: #636b6f !important;
    text-decoration: none !important;
}

.brand-name > a:hover {

}

#login-form {
    padding: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

input {
    border-radius: 20px !important;
}

button {
    border-radius: 20px !important;
}

.btn-custom {
    color: #fff;
    font-weight: 500;
    border: 3px solid #f7e6b3;
    background-image: -webkit-linear-gradient(bottom, #FFCA28, #FF8F00 99%);
    background-image: -o-linear-gradient(bottom, #FFCA28, #FF8F00 99%);
    background-image: linear-gradient(to top, #FFCA28, #FF8F00 99%);
}

.btn-custom:hover {
    color: #8c4e00;
}
