html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 60px;
    margin-bottom: 70px; /* Margin bottom by footer height */

    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
    line-height: 60px;
}

nav .breadcrumb {
    margin-top: 10px;
}

th {
    font-weight: 500;
}

td.actions > a {
    margin: 0 5px;
}

label {
    font-weight: 500;
}

.panel-heading {
    font-weight: 700;
}

.vrow {
    margin: 15px -15px;
    border-bottom: 1px solid rgba(128,128,128,.1);
}

.vlabel {
    font-weight: 300;
}

.form-group.required > label::after {
    color: #e02222;
    content: " *";
}

.help-block {
    font-size: 12px;
}

/* Sorting */

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/* Forms */

.loan-form {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.loan-search {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
